# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <sdummett@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/08/16 20:13:48 by sdummett          #+#    #+#              #
#    Updated: 2021/08/30 20:20:51 by sdummett         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.out
*.o
*.a
.vscode
push_swap
push_swap_visualizer
